@import "./reset.css";

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
    
    font-family: 'Rubik', sans-serif;
}

.header{
    display: flex;
    flex-direction: column;
    width: 980px;
    height: 154px;

    padding: 40px 15px 50px;
    align-items: center;
    
    background: linear-gradient(360deg, #FFFFFF 0%, #6DD5FA 50%, #2980B9 100%);

}

.title{
    margin-bottom: 20px;
    font-family: Rubik;
    font-size: 44px;
    font-weight: 700;
    line-height: 52.14px;
    text-align: center;

    color: #FFFFFF;

}

.form{
    display: flex;
    width: 460px;
    height: 44.95px;
    top: 93.23px;
    left: 254px;
    border-radius: 6px;

    background: #FFFFFF;
}

.input{
    padding: 15px;
    border-radius: 6px;
    
    font-family: Rubik;
    font-size: 20px;
    font-weight: 300;
    line-height: 23.7px;
    text-align: left;

    color: #000000;


}

.button{
    font-family: Rubik;
    font-size: 20px;
    font-weight: 500;
    line-height: 23.7px;
    text-align: center;

    color: #FFFFFF;

    width: 165px;
    height: 44.95px;
    top: 93.23px;
    left: 569px;
    border-radius: 6px;
    background: #46DCA6;

}

.button:hover {
    background: #a5f7d9;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    padding: 30px;
    width: 360px;
    background-color: #FFFFFF;
    border-radius: 6px;
    box-shadow: 0px 5px 20px rgba(27, 108, 114, 0.25);
}

.card::before {
    content: '';
    
    position: absolute;
    left: 10px;
    bottom: -10px;
    z-index: -1;

    width: calc(100% - 20px);
    height: 266px;

    background-color: #FFFFFF;
    border-radius: 6px;
    box-shadow: 0px 5px 20px rgba(27, 108, 114, 0.25);
}

.card-city {
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    color: #000000;
}

.card-city span {
    display: inline-block;
    vertical-align: text-top;

    padding: 3 px 5px;
    background: #E5464F;
    border-radius: 6px;

    color: #FFFFFF;
    font-weight: 500;
    font-size: 12px;
    line-height: 1;
}

.card-weather{
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

.card-value {
    font-size: 92px;
    line-height: 1;

    color: #000000;
}

.card-value sup {
    font-size: 50%;
}

.card-description {
    font-size: 20px;
    line-height: 1.2;
}