@import "./reset.css";
@import url(https://fonts.googleapis.com/css?family=Rubik:300,regular,500,700,);

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;

    background: url(https://s3-alpha-sig.figma.com/img/665d/15ee/05e15bdd3b874c9a37eae2db799e9a47?Expires=1719792000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=YwCxthnaeZSvvjMJrr9yWh9-gbD~8gcQtNBo7WOBA~bG6btjsi-gK6PxTHJJmqALyQ5CqvJuEtYA7T4kFIQnz82vg71jZSF9esdDxiu-jQ49C9ZG269I~3GU6Ci8QGOvPB3q7hWyIzCnepkTAyU5FJ-4Ow4aiFSinNj9cGSllV40kv3KkiMHtvDU7lk0vdYDz8KdClRKkLK20qwv5BB41kVHKGZ3XM4TjiaMns1vBblLylxE3HAgDqCTDipuY2HW6djCOTDVyP5OiGBvFLn37dsd5Pmvzv-Df5iZXymaG9g~F5Ea0mMJ2UCF6jDoIvZ-uSSuWQdU4Zc4ragUew71wQ__);
    -webkit-background-size: cover;
    background-size: cover;
    min-height: 100vh;

    background-size: contain;
    background-size: 2000px auto;

    bottom: 100px;

    font-family: 'Rubik', sans-serif;
}

.header{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 154px;

    font-family: 'Rubik';
    padding: 40px 15px 50px;
    align-items: center;
    
    background: linear-gradient(360deg, #FFFFFF 0%, #6DD5FA 50%, #2980B9 100%);

}

.title{
    margin-bottom: 20px;
    font-family: Rubik;
    font-size: 44px;
    font-weight: 700;
    line-height: 52.14px;
    text-align: center;

    color: #FFFFFF;

}

.form{
    display: flex;
    width: 460px;
    height: 44.95px;
    top: 93.23px;
    left: 254px;
    border-radius: 6px;

    background: #FFFFFF;
}

.input{
    padding: 15px;
    border-radius: 6px;
    
    font-family: 'Rubik';
    font-size: 20px;
    font-weight: 300;
    line-height: 23.7px;
    text-align: left;

    color: #000000;
}

.button{
    font-family: Rubik;
    font-size: 20px;
    font-weight: 500;
    line-height: 23.7px;
    text-align: center;

    color: #FFFFFF;

    width: 165px;
    height: 44.95px;
    top: 93.23px;
    left: 569px;
    border-radius: 6px;
    background: #46DCA6;

}

.button:hover {
    background: #a5f7d9;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    padding: 30px;
    width: 360px;
    background-color: #FFFFFF;
    border-radius: 6px;
    box-shadow: 0px 5px 20px rgba(27, 108, 114, 0.25);
}

.card::before {
    content: '';
    
    position: absolute;
    left: 10px;
    bottom: -10px;
    z-index: -1;

    width: calc(100% - 20px);
    height: 266px;

    background-color: #FFFFFF;
    border-radius: 6px;
    box-shadow: 0px 5px 20px rgba(27, 108, 114, 0.25);
}

.card-city {
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    color: #000000;
}

.card-city span {
    width: 35.25px;
    height: 10.57px;
    top: 284px;
    left: 533px;
    border-radius: 6px;

    background: #EEDD43;

    width: 22.19px;
    height: 13.71px;
    top: 287.43px;
    left: 439.53px;
    
    font-family: Rubik;
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
    text-align: right;
    color: #FFFFFF;    
}

.card-weather{
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: 'Rubik';
} 

.card-value {
    font-size: 92px;
    line-height: 1;

    color: #000000;
}

.card-value sup {
    font-size: 50%;
}

.card-img {
    width: 164.5px;
    height: 137.14px;
    top: 339.86px;
    left: 522.33px;
}

.card-description {
    font-size: 20px;
    line-height: 1.2;
}

.footer {
    width: 100%;
    height: 32px;
    top: 655px;
    left: 0px;
    bottom: 0px;

    background: #E3F1EE;

    position: fixed;
    width: 100%;
    height: 17px;
    top: 735px;


    
    font-family: 'Rubik';
    font-size: 14px;
    font-weight: 400;
    line-height: 16.59px;
    text-align: center;
}